<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
        <h1><%= @heading %></h1>
        <div><%= @body %></div>

        <h2>Users</h2>
        <table class="table">
          <% @users.each do | user| %>
            <tr>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td>
                <% user.roles.each do | role | %>
                  <%= role.name %>
                <% end %><br/>
              </td>
            </tr>
          <% end %>
        </table>

        <hr />
        <table class="table">

          <% @categories.each do | category | %>
            <tr>
              <td><%= category.name %></td>
              <td></td>
            </tr>
            <% category.sub_categories.each do | sub_category | %>
              <tr>
                <td></td>
                <td><%= sub_category.name %></td>
              </tr>
            <% end %>
          <% end %>

        </table>
      </div>
    </div>
  </div>
</div>