

<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      <th>Questions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td></td>
        <td></td>
      </tr>
      <% category.sub_categories.each do | sub_category | %>
      <tr>
        <td></td>
        <td><%= sub_category.name %></td>
        <td>
          <% sub_category.questions.each do |question| %>
            <%= question.label_text %><br />
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
