<div id="notice"><%= notice %></div>

<div>
  <strong>Name:</strong>
  <%= @category.name %>
</div>

<div>
  <strong>Description:</strong>
  <%= @category.description %>
</div>

<div>
  <strong>Retired:</strong>
  <%= @category.retired %>
</div>

<p>
  <% @category.questions.each do | question | %>
    <%= question.label_text %>
  <% end %>

</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
